header {
  border-bottom: 1px solid black;
  padding: 20px;
  text-align-last: right;
  padding-right: 150px;
}
.heading {
  color: orange;
  margin: 0px 40px;
}

.flowers {
  margin: 10px;
  width: 1170px;
}

.catalog {
  display: flex;
}

.linkList {
  filter: opacity(60);
  margin-top: 200px;
}

.jar {
  width: 100px;
  height: 100px;
  margin-left: 90px;
}

.comment {
  margin-top: 1px;
}

.commentLog {
  border: 1px solid black;
}

.bookHeader {
  color: orange;
  display: flex;
  justify-content: center;
}

.flowerHeader {
  color: orange;
  display: flex;
  justify-content: center;
}

.aboutFlower {
  display: flex;
  word-wrap: break-word;
}

.flowerImage {
  margin-right: 10px;
}

.flowerText {
  padding-top: 250px;
}
